* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  width: 600px;
  margin: 30px auto 0;
  background-color: #f6f6f6;
}
.container .add-task {
  position: relative;
  padding: 15px;
  background-color: #009688;
}
.container .add-task input {
  display: inline-block;
  padding: 10px 15px;
  border: none;
  font-size: 20px;
  color: #fff;
  background-color: rgba(250, 250, 250, 0.3);
  width: calc(100% - 15px);
}
.container .add-task input:focus {
  outline: none;
}
.container .add-task .plus {
  position: absolute;
  width: 43px;
  height: 43px;
  line-height: 43px;
  text-align: center;
  background-color: #fff;
  color: #009688;
  right: 12px;
  border-radius: 50%;
  font-size: 38px;
  cursor: pointer;
  transition: transform 0.3s;
}
.container .add-task .plus:hover {
  transform: rotate(90deg);
}
.container .tasks-content {
  padding: 15px;
}
.container .tasks-content .no-tasks {
  font-size: 15px;
  color: #777;
}
.container .tasks-content > span {
  display: block;
  padding: 10px;
  background-color: #fff;
}
.container .tasks-content > span:not(:last-child) {
  margin-bottom: 10px;
}
.container .tasks-content .task-box .delete {
  float: right;
  background-color: #e91e63;
  padding: 4px 10px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
}
.container .tasks-content .task-box.finished {
  text-decoration: line-through;
}
.task-status {
  width: 600px;
  margin: 10px auto;
  font-size: 12px;
  overflow: hidden;
}
.task-status .tasks-count {
  float: left;
  width: 50%;
  padding: 10px;
}
.task-status .tasks-completed {
  float: right;
  width: 50%;
  padding: 10px;
  text-align: right;
}
.task-status .tasks-count span,
.task-status .tasks-completed span {
  color: #fff;
  padding: 1px 5px;
  font-size: 10px;
  font-weight: bold;
  border-radius: 4px;
}
.task-status .tasks-count span {
  background-color: #e91e63;
}
.task-status .tasks-completed span {
  background-color: #03a9f4;
}
